@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=optional-2nd-font-name&display=swap');

:root {
  --primary-color: #01161E;
  --secondary-color: #00A7E1;
  --accent1-color: #00A7E1;
  --accent2-color: #6E7271;

  --heading-font: 'steelblue', serif;
  --paragraph-font: 'steelblue', serif;

  --nav-background-color: green;
  --nav-link-color: black;
  --nav-hover-link-color: blue;
  --nav-hover-background-color: green;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 20px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

:root {
  --primary-color: steelblue;
  --secondary-color: grey;
  /* Define other CSS variables here */
}

/* Use the CSS variables in your styles */
.example-element {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  /* Apply other styles using CSS variables */
}
